**/__pycache__/
# check_data/
**/.ipynb_checkpoints/
.ipynb_checkpoints
**log
debug.py
test.py
run_cal_metric.py
output/
old_results
det_test
old_configs
check_data
trace
old_demo_data
old_run_cal_metric.py
old_test.py
old_tools
old_trace
configs/
.vscode/
TODO.md
*.jpg
*.png
*.jpeg
*.bmp
